@media all and (max-width: 1170px) {
    .conteiner, .conteinerButtom, .conteinerContent, .button_View {
        width: 768px;
    }
    
    .search {
        margin-left: 30px;
        width: 250px;
    }
    
    ul.menuTop {
        margin-right: 8px;
        padding-left: 0px;
        margin-left: 0px;
    }

    .otstup_v_menuMiddle { 
        padding-left: 20px;   
    }
        
    .conteinerButtom {
        height: 430px;
    } 
          
    .Snowboards {
        padding-left: 35px;
        padding-top: 10px;
    }

    .leftMenu {
        width: 260px;
       
    }
    
    .leftContent {
        padding-left:1px;
    }

   
    .menuContent {
        padding-top: 17px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin: 0 auto;
        margin-bottom: 20px;
        float: right;
      }

    ul.menuContent {
        padding-left: 0px;
    }

    .menuContent li {
        padding-left: 0px;
        font-size: 15px;
    }

    .menuContent li.otstup_view { 
        margin-top: -9px;  
        padding-left: 5px;  
    }
   
    .menuContent span.mostPopular{
        padding-left: 2px;
      }

    div.cards {
        margin-left: 220px;
    }

    .cards > ul > li{
        width: 251px; 
    }

    .cards ul li.last{
        border-style:unset;
        border-right: none;
    }
   

    .cards > ul > li{
        border-right: none;
    }

    .cards li.greyline {
        border-right: solid 1px lightgrey;
   }
 
   .cards li.last.greyline {
        border-right: solid 1px lightgrey;
   }

 
    .cardBestSellers > ul > li:first-child{
        margin-left: 90px;
    }

    .cardBestSellers > ul > li:nth-child(3){
        margin-left: 90px;
    }

    .Feedback > ul li {
        width: 360px;
        padding-left: 0px;
    }

    .Feedback > ul li > img {
        padding-left: 0px;
    }

    .Feedback > ul li p.littleText {
        padding-left: 0px;
      }

    .menuFooterTop li {
        padding-right: 22px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 8px;
        float: left;
    }

    .menuFooterTop li:first-child {
        padding-left: 2px;
    }

    ul.menuFooterButtom:first-child {
        padding-right: 2px;
        padding-left: 2px;
      }
    
      ul.menuFooterButtom:nth-child(2) {
        padding-right: 2px;
      }
    
      ul.menuFooterButtom:nth-child(3) {
        padding-right: 2px;
      }

      ul.menuFooterButtom:nth-child(4) {
        padding-left: 30px;
      }
}