* {
  box-sizing: border-box;
  }
     
  .headerTop {
  background: white;
  
  }
  
  .conteinerTop {
  width: 1140px;
  margin: 0 auto;
  background: #C4C4C4;
  }
  
  .logo {
  padding-left: 30px;
  float: left;
  }
  
  .wolf_house{
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 15px;
  float: left;
  }
  
  .search {
  background-color: white; 
  border-radius: 31px;
  margin-left: 70px;
  margin-top: 10px;
  width: 540px;
  height: 40px;
  float: left;
  }
  
  .lupa{
   width: 30px;
   height: 30px; 
   margin-top: 5px;
   margin-left: 10px;
  }
  
  .menuTop{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px; 
  margin-right: 50px;
  margin-top: 20px;
  float: right;
  }
  
  .menuTop li{
  list-style-type: none;
  padding-left: 5px;
  float: left;
  }
  
  .otstup_v_menuTop { 
  padding-left: 10px;
      
  }
  
  .BritishFlag {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  }
  
  .cart {
  margin-top: -3px;
  }
  
  .headerMiddle {
   background: white;
  
  }
  
  .conteinerMiddle {
  width: 1140px;
  margin: 0 auto;
  background: #E5E5E5;
  }
  
  
  .menuMiddle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21,79px; 
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  }
  
  .menuMiddle li{
  list-style-type: none;
  padding-left: 5px;
  float: left;
  }
  
  ul li.first{
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 40px;
  margin-right: 5px;
  }
  
  .blueButton{
  background: url(img/Frame14.png) 55px no-repeat,
              url(img/Frame8.png) 40px no-repeat;
  }
  
  .otstup_v_menuMiddle { 
  padding-left: 32px;
      
  }
  
  ul li.last{
  color: #FF0C0C;
  list-style-type: none;
  margin-right: 5px;
  }
  
  .headerButtom {
  background: white;
  }
  
  .conteinerButtom {
  width: 1140px;
  height: 464px;
  margin: 0 auto;
  background: url('img/st_banner1.png') no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  
  .whiteButton{
  background: url('img/Frame15.png') 120px 250px no-repeat;        
  }
  
  .newAtomicCollection {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-top: 128px;
  padding-left: 120px;
  color: #FFFFFF;
  float: left;
  }
  
  .checkOur {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 120px;
  padding-bottom: 100px;
  color: #FFFFFF;
  float: left;
  }

  .content {
  background: white;
  }

  .conteinerContent {
  width: 1140px;
  margin: 0 auto;
  background: #E5E5E5;
  }

  .Snowboards {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px; 
  letter-spacing: 0.03em; 
  padding-top: 61px;
  padding-left: 40px;
  float: left;
  }

  .menuContent {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21,79px; 
  padding-top: 17px;
  padding-bottom: 10px;
  margin-left: 366px;
  margin: 0 auto;
  float: left;
  }

  .menuContent li{
  list-style-type: none;
  padding-left: 5px;
  float: left;
  }

  .menuContent li.otstup_view { 
  margin-top: -9px;  
  padding-left: 200px;  
 
  }
  
  .menuContent li.view{
  margin-left: -120px;  
  }

  .menuContent li.view9{
  margin-left: -50px;  
  }
 
  .menuContent li.vector{
  margin-left: -30px;  
  }
 
  .menuContent li.mostPopular{
  margin-top: -5px;
  }

  .leftMenu {
  width: 340px;
  float: left;
  clear: both;
  }

  .leftContent {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  padding-left:40px;
  
  }

  .leftContent li{
  list-style-type: none;
  padding-left: 5px;
  padding-bottom: 5px;
  float: left;
  }

  .leftContent li.leftVector {
  float: right;
  }

  .leftContent li.fadeText {
  color: #BFBEBE;
  }

  .leftContent li.square {
  clear: both;
  }

  .leftContent li.squareText {
  margin-left: 10px;
  margin-top: -1px;
  }

  .leftContent li.lineMargin {
  margin-top: -10px;
  }

  .leftContent li.ViewmoreMargin {
  margin-top: 10px;
  }

  .card {
  width: 273px;
  height: 380px;
  border: solid 1px red;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-left: 50px;
  display: inline-block;
  text-align: center;
  padding-left: 0px;
  float: left;
  }

  .card li{
  list-style-type: none;
  }

  .card li.leftCard{
  margin-top: 50px;
  }

  .bold{
  font-weight: bold;
  }

