@import 'variables';


//button
@mixin btn($w, $clr, $brdr, $tc) {
  width: $w;
  height: 50px;
  background: $clr;
  border-radius: 8px;
  border: $brdr;
  font-weight: 600;
  font-size: $fz;
  line-height: 22px;
  color: $tc;
  
}