@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body
{
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
  *:hover {
    color: $tekst
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

// Main Page


.conteiner {
  width: $xl;
  margin: 0 auto;
  
  @include onlySmoller(1250px) {
    width: 1100px;
  }
  @include onlySmoller(1100px) {
    width: 1000px;
  }

  @include onlySmoller(1000px) {
    width: 900px;
  }
  @include onlySmoller(900px) {
    width: 768px;
  }
  @include onlySmoller(770px) {
    width: 646px;
  }
  @include onlySmoller(650px) {
    width: 375px;
  }
}


.menuTopHeader {
  display: flex;
  align-items: center;
  height: 81px;
  @include onlySmoller(900px) {
    margin-left: 25px;
  }
  @include onlySmoller(650px) {
    display: none;
  }

    div {
      font-style: normal;
      font-weight: 400;
      font-size: $fz12;
      line-height: 16px;
      padding-right: 26px;
      @include onlySmoller(1250px) {
        padding-right: 10px;
      }
      @include onlySmoller(1000px) {
        padding-right: 5px;
      }
      @include onlySmoller(770px) {
        font-size: $fz10;
        padding-right: 10px;
      }

    }
    div:nth-child(3) {
      @include onlySmoller(770px) {
        padding-right: 13px;
      }
    }
    div:nth-child(4) {
      @include onlySmoller(900px) {
        padding-right: 13px;
      }
      @include onlySmoller(770px) {
        display: none;
      }
    }

    div:nth-child(5) {
      padding-right: 106px;
      @include onlySmoller(1100px) {
        padding-right: 31px;
        margin-right: 20px;
      }
      @include onlySmoller(900px) {
        padding-right: 0px;
        margin-right: 20px;
        margin-left: -10px;
      }
      @include onlySmoller(770px) {
        margin-left: 0px;
      }

    }
    div:nth-of-type(6) {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
      padding-right: 130px;
      @include onlySmoller(1100px) {
        margin-right: 0px;
        padding-right: 80px;
      }
      @include onlySmoller(1000px) {
        margin-right: 20px;
        padding-right: 20px;
        font-size: $fz14;
      }
      @include onlySmoller(900px) {
        margin-right: 5px;
        font-size: $fz12;
      }
      @include onlySmoller(770px) {
       display: none;
      }


    }
    img {
      width: 25px;
      height: 25px; 
    }
    
    

    img:nth-of-type(2) {
      margin-left: 10px;
      margin-right: 24px;
      @include onlySmoller(900px) {
        margin-right: 5px;
      }
    }
    img:nth-of-type(3) {
      margin-right: 45px;
      @include onlySmoller(900px) {
        margin-right: 5px;
        margin-left: -10px;
      }
    }
    img:nth-of-type(4) {
      margin-right: 5px;
      margin-left: 5px;
    }
      div:nth-of-type(7) {
        padding-right: 0px;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        @include onlySmoller(900px) {
          margin-left: 5px;
        }
        
        img[alt="Eclipse1"] {
          width: 8px;
          height: 8px;
          position: relative;
          top: -17px;
          right: 19px;
        }

        div.menuLevel2 {
          width: 410px;
          height: 150px;
          background: url('../img/alarmBack.png') no-repeat;
          display: none;
          cursor: pointer;

          img[alt="Eclipse2"] {
            width: 8px;
            height: 8px;
            position: relative;
            top: 49px;
            left: 55px;

          }

          div {
            font-weight: 400;
            font-size: $fz14;
            line-height: 22px;
            width: 296px;
            height: 66px;
            margin-left: 70px;
            margin-top: 30px;
          }
        }
        
      }
      div:nth-of-type(7):hover div.menuLevel2 {
        display: block; 
        position: absolute; 
        right: -35%; 
        top: 60%; 
        z-index: 1;
        @include onlySmoller(900px) {
          right: -90%;
        }
      }
     

      div:last-child {
        font-weight: 600;
        font-size: $fz;
        line-height: 22px;
      }
}

.menuTopHeaderMobile {
  display: none;
  @include onlySmoller(650px) {
  display: flex;
  justify-content: space-between;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 27px;
  margin-bottom: 13px;
  }
  div {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
    img[alt="favMobile"] {
      margin-left: 34px;
      margin-right: 34px;
    }
  }
  button {
    border: none;
    background-color: $white
  }
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  position: relative;
  @include onlySmoller(1000px) {
    margin-left: 10px;
  }
  @include onlySmoller(900px) {
    margin-left: 15px;
  }

  @include onlySmoller(650px) {
      display: none;
    }
  #open {
    border: none;
    width: 25px;
    height: 25px;
    position: relative;
    background: #FFFFFF;
  }
  
  #block{
    width: 0px;
    height: 0px;
    background: $wFooter;
    position: absolute;
    top: 29px;
    left: 7px;
    transition: 1s;
    z-index: 1;
    overflow: hidden;
    ul {
      margin-top: 140px;
      margin-left: 111px;
      li {
        list-style-type: none;
        padding-bottom: 32px;
        h4 {
          font-weight: 600;
          font-size: $fz;
          line-height: 22px;
          padding-bottom: 8px;

        }
        p {
          font-weight: 400;
          font-size: $fz14;
          line-height: 19px;
          padding-bottom: 3px;
        }
      }
      li:last-child {
        h4 {
          color: $red;
        }
      }
    }
  }
  #close {
    border: none;
    width: 25px;
    height: 25px;
    position: absolute;
    display: none;
    top: 72px;
    left: 48px;
    z-index: 1; 
  }

  img[alt="logo"] {
   margin-left: -40px;
   @include onlySmoller(1000px) {
    margin-left: -20px;
  }
  @include onlySmoller(900px) {
    margin-left: -50px;
  }
  } 

  img[alt="lupa"] {
    margin-left: -40px;
    @include onlySmoller(1250px) {
      margin-left:  -20px;
      margin-right: 0px;
    }
    @include onlySmoller(900px) {
      margin-left:  -50px;
      margin-right: 0px;
    }
   } 
  input {
    width: 610px;
    height: 48px;
    border:hidden;
    border-radius: 10px;
    margin-left: -100px;
    @include onlySmoller(1250px) {
      margin-left: -60px;
    }
    @include onlySmoller(1100px) {
      width: 500px;
    }
    @include onlySmoller(1000px) {
      width: 400px;
    }
    @include onlySmoller(900px) {
      width: 300px;
    }
    @include onlySmoller(770px) {
      width: 130px;
      margin-right: -40px;
    }
   }
  .GreenButton {
    width: 156px;
    height: 52px;
    background-color: $green;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    cursor: pointer;

    ul.menuLevel2 {
      width: 450px;
      height: 380px;
      background: url('../img/basketBack.png') no-repeat;
      display: none;
      cursor: pointer;
      
      li {
        list-style-type: none;
        width: 400px;
        margin-left: 45px;
        margin-top: 50px;
        position: relative;
        div:nth-of-type(1) {
          font-weight: 600;
          font-size: $fz12;
          line-height: 16px;
          width: 168px;
          position: absolute;
          left: 23%;
          top: 0%;
        }
        div:nth-of-type(2) {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 500;
          font-size: $fz12;
          line-height: 16px;
          position: absolute;
          left: 23%;
          top: 70%;
        }
        div:nth-of-type(3) {
          font-weight: 700;
          font-size: $fz;
          line-height: 22px;
          position: absolute;
          left: 72%;
          top: 80%;
        }
        [alt="trash"] {
          width: 25px;
          height: 25px; 
          position: absolute;
          left: 80%;
          top: 0%;
        }
      }
      li:last-child {
        margin-top: 40px;
        div {
          font-weight: 600;
          font-size: $fz;
          line-height: 22px;
        }
        div:first-child {
          position: absolute;
          left: 1%;
         
        }
        div:last-child {
          color: $red;
          position: absolute;
          left: 72%;
        }
      }
    }

    a {
      span {
        margin: 0px 2px;
        color: $white;
      }
    }
  }
  div.GreenButton:hover ul.menuLevel2 {
    display: block; 
    position: absolute; 
    right: -18%; 
    top: 100%; 
    z-index: 1;
  }
  .WhiteButton {
    width: 156px;
    height: 52px;
    background-color: $white;
    border-radius: 8px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    cursor: pointer;
    img {
      width: 25px;
      height: 25px;
    }
    a {
      p {
        margin: 0px 2px;
        color: $tekst;
        font-weight: 600;
        font-size: $fz;
        line-height: 22px;
      }
    }
  }

 }

 .searchHeaderMobile {
    display: none;
    position: relative;
    padding-bottom: 16px;
    @include onlySmoller(650px) {
      display: flex;
      justify-content: center;
      flex-flow: wrap;
    }
    img[alt="lupaMobile"] {
    position: absolute;
    top: 10px;
    left: 25px;
      }
      input {
        width: 349px;
        height: 40px;
        border:hidden;
        border-radius: 10px;
        margin-bottom: 16px;
      }
      div:nth-of-type(1) {
        margin-right: 8px;
        position: relative;
        h3 {
          position: absolute;
          left: 70px;
          top: 20px;
          font-weight: 600;
          font-size: $fz12;
          line-height: 16px;
          color: $white;
        }
        h2 {
          position: absolute;
          left: 47px;
          top: 36px;
          font-weight: 700;
          font-size: $fz18;
          line-height: 25px;
          color: $white;
        }
      }
      div:nth-of-type(2) {
        position: relative;
        h4 {
          position: absolute;
          left: 95px;
          top: 22px;
          font-weight: 600;
          font-size: $fz12;
          line-height: 16px;  
        }
      }
 }

.menuMiddleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  @include onlySmoller(650px) {
    display: none;
  }
  div {
    font-style: normal;
    font-weight: 500;
    font-size: $fz;
    line-height: 22px;
    padding-right: 24px;
    @include onlySmoller(900px) {
      font-size: $fz14;
    }
    @include onlySmoller(770px) {
      padding-right: 4px;
    }
   
  }
  div:last-child {
    color: $red;
  } 
}


    
.headerBanner {
  background: url('../img/Banner.png') no-repeat;
  background-size: 100%;
  margin: 0px;
  @include onlySmoller(650px) {
    display: none;
  }
  
  .conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 381px;
  }
 
  .redBanner{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 511px;
    height: 226px;
    background: $red 80% no-repeat;  
    transition-duration: 1s;
      @include onlySmoller(1250px) {
        margin-bottom: 30px;
      }
      @include onlySmoller(1100px) {
        margin-bottom: 60px;
        width: 450px;
      }
      @include onlySmoller(1000px) {
        margin-bottom: 100px;
        width: 450px;
        height: 200px;
      }
      @include onlySmoller(900px) {
        margin-bottom: 120px;
        width: 400px;
        height: 180px;
      }
      @include onlySmoller(850px) {
        margin-bottom: 130px;
      }
      @include onlySmoller(800px) {
        margin-bottom: 140px;
      }
      @include onlySmoller(750px) {
        margin-bottom: 160px;
        width: 280px;
        height: 130px;
      }
    div {
      color: $white;
    }
    div:first-child {
      font-size: $fz22;
      font-weight: 600;
      line-height: 30px;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz18;
      }
      @include onlySmoller(750px) {
        font-size: $fz14;
        padding-top: 40px;
        line-height: 8px;
      }
    }
    div:nth-child(2) {
      font-size: $fz44;
      font-weight: 700;
      line-height: 60px;
      margin-top: 5px;
      margin-bottom: 10px;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz36;
      }
      @include onlySmoller(750px) {
        font-size: $fz22;
        line-height: 20px;
        margin-top: 20px;
      }
    }
    div:nth-child(3) {
      font-size: $fz22;
      font-weight: 500;
      line-height: 30px;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz18;
      }
      @include onlySmoller(750px) {
        font-size: $fz14;
        margin-bottom: 30px;
      }
    }
  }
  .redBanner:hover {
    background-color:$green;
    width: 600px;
    height: 300px;
    @include onlySmoller(1100px) {
      width: 520px;
      height: 260px;
      margin-bottom: 70px;
    }
    @include onlySmoller(1000px) {
      width: 480px;
      height: 250px;
      margin-bottom: 120px;
    }
    @include onlySmoller(900px) {
      width: 420px;
      height: 200px;
      margin-bottom: 130px;
    }
    @include onlySmoller(850px) {
      margin-bottom: 140px;
    }
    @include onlySmoller(800px) {
      margin-bottom: 150px;
    }
    div:first-child {
      font-size: $fz28;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz24;
      }
    }
    div:nth-child(2) {
      font-size: $fz50;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz46;
      }
    }
    div:nth-child(3) {
      font-size: $fz28;
      transition-duration: 1s;
      @include onlySmoller(900px) {
        font-size: $fz24;
      }
    }
  }
}


.menuBottomHeader {
  display: flex;
  align-items: center;
  height: 84px;
  @include onlySmoller(1250px) {
    margin-top: -20px;;
  }
  @include onlySmoller(1150px) {
    margin-top: -40px;;
  }
  @include onlySmoller(1050px) {
    margin-top: -60px;;
  }
  @include onlySmoller(1000px) {
    margin-top: -70px;;
  }
  @include onlySmoller(950px) {
    margin-top: -90px;;
  }
  @include onlySmoller(900px) {
    margin-top: -120px;;
  }
  @include onlySmoller(770px) {
    margin-top: -140px;;
  }
  @include onlySmoller(650px) {
    display: none;
  }
  div {
    font-weight: 500;
    font-size: $fz;
    line-height: 22px;
    padding-right: 37px;
    margin-right: 25px;
    @include onlySmoller(1250px) {
      margin-left: 0px;
      margin-right: 0px;
      padding-right: 17px;
    }
    @include onlySmoller(900px) {
      font-size: $fz14;
    } 
  }

  div:first-child {
    margin-left: 80px;
    padding-right: 0px;
    position: relative;
    cursor: pointer;
    @include onlySmoller(1250px) {
      margin-right: 20px;
      margin-left: 90px;
    }
    @include onlySmoller(900px) {
      margin-right: 20px;
      margin-left: 20px;
    }
    @include onlySmoller(900px) {
      margin-right: 10px;
      margin-left: 10px;
    }
    ul.menuLevel2 {
      width: 328px;
      height: 450px;
      background: url('../img/filterBack.png') no-repeat;
      display: none;
      cursor: pointer;
   
      li {
        list-style-type: none;

        div {
          font-weight: 500;
          font-size: $fz;
          line-height: 22px;
          margin-left: 60px;
          margin-bottom: 15px;
        }
        img {
          position: absolute;
          left: 15%;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: rgba(0, 0, 0, 0.5);
          span {
            font-weight: 500;
            color: $tekst;
          }
        }
   
      }
      li:first-child {
        margin-top: 70px;
        p:nth-of-type(1) {
          position: absolute;
          left: 17%;
          top: 33%;
        }
        p:nth-of-type(2) {
          position: absolute;
          left: 60%;
          top: 33%;
        }
        
      }
      li:nth-child(2) {
        margin-top: 100px;
        button.btn1 {
          @include btn1(85px, $green, none, $white);
          position: absolute;
          left: 17%;
          top: 50%;
        }
        button.btn2 {
          @include btn1(85px, $white, none, $tekst);
          position: absolute;
          left: 45%;
          top: 50%;
        }
      }
      li:nth-child(3) {
        margin-top: 70px;
        p:nth-of-type(1) {
          position: absolute;
          left: 17%;
          top: 75%;
        }
        p:nth-of-type(2) {
          position: absolute;
          left: 50%;
          top: 75%;
        }
      }
    }  
  }

  div:first-child:hover ul.menuLevel2 {
    display: block; 
    position: absolute; 
    top: 50%;
    left: -145px;
    z-index: 1;
    @include onlySmoller(900px) {
      left: -60px;
    }
    @include onlySmoller(770px) {
      left: -40px;
    }
   
   
  }
  div:nth-child(2) {
    margin-right: 147px;
    @include onlySmoller(1100px) {
      margin-right: 100px
    }
    @include onlySmoller(1000px) {
      margin-right: 40px
    }
    @include onlySmoller(770px) {
      margin-right: 0px
    }
  }
  div:last-child {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 4px;
  }
  
}

.contentColor {
  background-color: $wContent;
}

.menuTopContent1 {
  display: flex;
  padding-top: 65px;
  @include onlySmoller(1150px) {
    padding-top: 40px;
  }
  @include onlySmoller(1000px) {
    margin-top: -10px;
  }
  @include onlySmoller(770px) {
    padding-top: 30px;
  }
  @include onlySmoller(650px) {
    display: none;
  }
  div {
    font-weight: 400;
    font-size: $fz14;
    line-height: 19px;
    color: $tGrey;
    margin-right: 5px;
    @include onlySmoller(900px) {
      font-size: $fz12;
    }
  }
  div:nth-of-type(1) {
    margin-left: 10px;
   
  }
  
  div:nth-of-type(3) {
    color: $tekst;
  }
  div:nth-of-type(4) {
    margin-left: 518px;
    color: $tekst;
    margin-right: 15px;
    @include onlySmoller(1250px) {
      margin-left: 400px;
    }
    @include onlySmoller(1100px) {
      margin-left: 300px;
    }
    @include onlySmoller(1000px) {
      margin-left: 200px;
    }
    @include onlySmoller(900px) {
      margin-left: 150px;
    }
    @include onlySmoller(770px) {
      margin-left: 5px;
      margin-right: 5px;
    }
  
  }
  div:nth-of-type(5) {
    margin-right: 15px;
    @include onlySmoller(770px) {
      margin-right: 7px;
    }
 
  }
  div:nth-of-type(6) {
    margin-right: 15px;
    @include onlySmoller(770px) {
      margin-right: 7px;
    }
  }
  div:nth-of-type(7) {
    margin-right: 15px;
    @include onlySmoller(770px) {
      margin-right: 7px;
    }
  }
  img {
    margin-right: 5px;
    
    @include onlySmoller(770px) {
     margin-top: 2px;
      margin-right: 0px;
      height: 15px;
      width: 15px;
    }
  }
}
.menuTopContent2 {
  display: flex;
  justify-content:space-between;
  align-items:baseline;
  height: 77px;
  margin-left: 7px;
  @include onlySmoller(900px) {
    margin-left: 10px;
  }
  @include onlySmoller(650px) {
    display: none;
  }

  div:first-child {
    font-weight: 700;
    font-size: $fz36;
    line-height: 49px;
    @include onlySmoller(900px) {
      font-size: $fz28;
    }
    @include onlySmoller(770px) {
      font-size: $fz22;
    }
    
  }
  div:nth-child(2) {
    font-weight: 400;
    font-size: $fz14;
    line-height: 49px;
    color:$tGrey;
    margin-right: 758px;
    margin-left: 10px;
    @include onlySmoller(1250px) {
      margin-right: 658px;
    }
    @include onlySmoller(1100px) {
      margin-right: 450px;
      margin-left: -90px;
    }
    @include onlySmoller(1000px) {
      margin-right: 380px;
    }
    @include onlySmoller(900px) {
      margin-right: 310px;
      margin-left: -70px;
    }
    @include onlySmoller(770px) {
      margin-right: 140px;
      margin-left: -70px;
    }

  }
  button:nth-of-type(1) {
    background: $wContent;
    border: none;
    @include onlySmoller(1100px) {
      margin-right: -100px;
    }
    @include onlySmoller(1000px) {
      margin-right: -90px;
    }
    @include onlySmoller(900px) {
      margin-right: -80px;
    }
  }
  button:nth-of-type(2) {
    background: $wContent;
    border: none;
    margin-right: 10px;
    @include onlySmoller(1000px) {
      margin-right: 5px;
    }
  }

 
 
  
}

.menuTopContentMobile {
  display: none;
  margin-left: 32px;
  margin-bottom: 25px;
  background-color: $white;
  @include onlySmoller(650px) {
    display: flex;
    align-items: center;
  }
 
  button:nth-of-type(1).btnMobile {
    @include btnMobile(58px, $green, none, $white);
    margin-left: 31px;
    margin-right: 15px;
  }
  button:nth-of-type(2).btnMobile {
    @include btnMobile(130px, $white, solid 1px $green, $tekst);
    margin-right: 15px;
  }
  button:nth-of-type(3).btnMobile {
    @include btnMobile(60px, $white, solid 1px $green, $tekst);
    margin-right: 15px;
  }
}



.mobileBasket {
  display: none; 
  @include onlySmoller(650px) {
    display: block;
  }
  position: fixed;
  z-index: 1;
  left: 290px;
  bottom: 50px;
  img[alt="greenSquare"] {
    position: absolute;
    z-index: 1;
  }
  img[alt="whiteBasket"] {
    position: absolute;
    z-index: 2;
    left: 28px;
    top: 28px;
    
  }
  img[alt="whiteSquare"] {
    position: absolute;
    z-index: 2;
    right: -80px;
    top: -9px;
  }
  span {
    position: absolute;
    left: 50px;
    top: 8px;
    z-index: 3;
    font-weight: 600;
    font-size: $fz12;
    line-height: 16px;
  }
}

.cards1p {
  @include onlySmoller(650px) {
    display: none;
  }
  .cardColor {
    background-color: $white;

  }

    ul {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
    }
    li {
      width: $xl;
      height: 273px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      transition: transform 2s;
    
      img[class="imgURL"] {
        width: 210px;
        height: 210px;
        margin: 20px 56px 20px 20px;
        @include onlySmoller(1250px) {
          margin: 20px 120px 20px 20px;
        }
        @include onlySmoller(770px) {
          margin: 20px 110px 20px 10px;
        }
    
      }
      div.cardInfo {
        width: 600px;
        margin-left: -120px;
        @include onlySmoller(900px) {
          margin-left: -130px;
        }
        h2 {
          font-weight: 600;
          font-size: $fz28;
          line-height: 160%;
          @include onlySmoller(900px) {
            font-size: $fz24;
          }
          @include onlySmoller(770px) {
            font-size: $fz18;
          }
        }
        p.artcl {
          color: rgba(0, 0, 0, 0.2);
          font-weight: 400;
          font-size: $fz14;
          line-height: 160%;
        }

        p {
          font-weight: 400;
          font-size:  $fz14;
          line-height: 160%;
          span {
            font-weight: 600;
          }
        
        }
        div.Delivery {
          display: flex;
          align-items:center;
          margin-top: 25px;
          position: relative;
          left: 30px;
          @include onlySmoller(1250px) {
            left: 125px;
          }
          @include onlySmoller(1000px) {
            left: 220px;
          }
          @include onlySmoller(900px) {
            left: 340px;
          }
          @include onlySmoller(770px) {
            left: 480px;
            width: 150px;
          }
          
          img {
            position: absolute;
            right: 107%;
            @include onlySmoller(900px) {
            top: -30%;
            }
            @include onlySmoller(770px) {
              top: 0%;
            }
          }
        }
        .stars{
          display: flex;
          align-items:center;
          margin: 20px 0px;
          p {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400;
            font-size: $fz14;
            line-height: 160%;
            margin-right: 10px;
          }
          img {
            width: 16px;
            height: 16px;
          }
          img[alt="stYellowLight"]{
            margin-right: 20px;
          }
        }

      }
      div:last-child {
        width: 250px;
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 15px;
        position: relative;
        @include onlySmoller(1250px) {
          margin-left: -80px;
        }
        @include onlySmoller(1000px) {
          margin-left: -180px;
        }
        @include onlySmoller(900px) {
          margin-left: -300px;
        }
        @include onlySmoller(770px) {
          margin-left: -440px;
        }

        div {
          position: absolute;
          right: 40px;
          @include onlySmoller(950px) {
            right: 50px;
          }
          @include onlySmoller(950px) {
            right: 70px;
          }
        }
        img {
          position: absolute;
          right: 7px;
          @include onlySmoller(950px) {
            right: 15px;
          }
          @include onlySmoller(900px) {
            right: 40px;
          }
          @include onlySmoller(900px) {
            right: 100px;
            top: 30px;
          }
          
        }
        h2 {
          margin-top: 140px;
          font-weight: 700;
          font-size: $fz28;
          line-height: 160%;
          @include onlySmoller(900px) {
            font-size: $fz22;
          }
          @include onlySmoller(770px) {
            font-size: $fz18;
          }
        }
        button {
          margin-top: 5px;
        }
      }
    }
    li:hover {
      transform: scale(1.1);
      @include onlySmoller(1250px) {
        transform: scale(1.01);
      }
     }
    button.btn {
      @include btn(240px, $green, none, $white);
      position: relative;
      @include onlySmoller(900px) {
        position: relative;
        @include btn(210px, $green, none, $white);
      }
      @include onlySmoller(770px) {
        @include btn(180px, $green, none, $white);
        }
      img {
        position: absolute;
        left: 20px;
        @include onlySmoller(900px) {
          display: none;
          }
      }
      span{
        margin-left: 30px;
        @include onlySmoller(900px) {
          margin-left: 0px;
          }
      }
    }
    .like {
      width: 25px;
      height: 25px;
      background: url('../img/FavoriteIconGrey.png') no-repeat;
      &.active {
      background: url('../img/FavoriteIconGreyRed.png') no-repeat;
      }
      @include onlySmoller(770px) {
        margin-top: 30px;
        }
    }
}

.cards2p {
  @include onlySmoller(650px) {
    display: none;
  }
  .cardColor {
    background-color: $white;

  }

    ul {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
    }
    li {
      width: 272px;
      height: 387px;
      border-radius: 8px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: transform 2s;
      position: relative;
      margin-bottom: 16px;
      
      

      .cardPicture {
        width: 232px;
        height: 253px;
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin: 0 auto;
      }
      .stars{
        margin-top: 5px;
        margin-left: 20px;
        display: flex;
        align-items:center;
        .review {
          margin-left: 7px;
          font-weight: 400;
          font-size: $fz10;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.5);
        }
        img {
          width: 8.69px;
          height: 8.29px;
        }
      }
      .size {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 20px;
      }
      .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-left: 20px;
        margin-bottom: 27px;
      }
      h3 {
        font-weight: 600;
        font-size: $fz14;
        line-height: 160%;
        margin-left: 20px;
      }

      button {
        width: 36px;
        height: 36px;
        border: none;
        background-color: $white;
        position: absolute;
        top: 330px;
        left: 210px;
      }
      .like {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 18px;
        left: 227px;
        background: url('../img/FavoriteIconGrey.png') no-repeat;
        &.active {
        background: url('../img/FavoriteIconGreyRed.png') no-repeat;
        }
      }
    }
    li:hover {
      transform: scale(1.1);
      @include onlySmoller(1250px) {
        transform: scale(1.01);
      }
    }
}

.advertBanner {
  display: flex;
  flex-direction: column;
  width: $xl;
  height: 209px;
  background: url('../img/AdvertBanner.png') no-repeat;
  background-size: 100%;
  @include onlySmoller(900px) {
    height: auto;
  }
  
  h1 {
    margin: 41px 0px 0px 136px;
    font-weight: 600;
    font-size: $fz36;
    line-height: 49px;
    @include onlySmoller(770px) {
      font-size: $fz24;
      margin: 51px 0px 0px 136px;
     }
    
  }


  button.btn {
    margin: 20px 0px 0px 136px;
    @include btn(180px, $white, solid 1px, $tekst);
    font-weight: 600;
    font-size: $fz14;
    line-height: 19px;
    @include onlySmoller(770px) {
      display: none;
    }
  }
} 

.cardsMobile {
   display: none;
  @include onlySmoller(650px) {
    display: flex;
    
   
  }
    ul {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      padding-top: 10px;
    }
    li {
      width: 169px;
      height: 253px;
      border-radius: 8px;
      padding-top: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      margin-bottom: 11px;
      background-color: $white;
      
      

      .cardPicture {
        width: 137px;
        height: 137px;
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin: 0 auto;
      }
      .stars{
        margin-top: 10px;
        margin-left: 16.69px;
        display: flex;
        align-items:center;
        .rating {
          margin-left: 7px;
          font-weight: 400;
          font-size: $fz9;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.5);
        }
        img {
          width: 6.7px;
          height: 6.63px;
        }
      }
      .size {
        font-weight: 400;
        font-size: $fz9;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 16px;
        margin-bottom: 10px;
      }
      .price {
        font-weight: 700;
        font-size: $fz12;
        line-height: 16px;
        position: absolute;
        top: 227px;
        left: 20px;
        color: $white;
      }
      h3 {
        font-weight: 600;
        font-size: $fz9;
        line-height: 160%;
        margin-left: 16px;
      }

      .btnCardMobile {
        @include btnCardMobile(169px, $green, none, $white);
        }
        position: relative;
        img[alt="BasketMob"] {
          position: absolute;
          bottom: 10px;
          left: 125px;
        }
      }
      .like {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        left: 135px;
        background: url('../img/FavoriteIconGreyMobile.png') no-repeat;
        &.active {
        background: url('../img/FavoriteIconGreyRedMobile.png') no-repeat;
        }
      }
}
  
   

.contentBottom {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  @include onlySmoller(650px) {
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  button {
    @include btn(150px, $wContent, solid 1px, $tekst);
    justify-self: center;
  }

  img{
    margin-left: 490px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    @include onlySmoller(1250px) {
      margin-left: 440px;
    }
    @include onlySmoller(1100px) {
      margin-left: 390px;
    }
    @include onlySmoller(1000px) {
      margin-left: 340px;
    }
    @include onlySmoller(900px) {
      margin-left: 270px;
    }
    @include onlySmoller(770px) {
      margin-left: 160px;
    }
    @include onlySmoller(650px) {
      display: none;
    }
  }
}
.pages {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: $fz12;
  line-height: 16px;
  text-align: center;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 35px;
  @include onlySmoller(650px) {
    display: none;
  }
}

.footerColor {
  background-color: $wFooter;
}
.footerTop {
  @include onlySmoller(650px) {
    display: none;
  }

  padding-top: 90px;
  
  display: flex;
  justify-content: space-around;
  
  li {
    list-style-type: none;
    h4 {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
      margin-bottom: 12px;
      @include onlySmoller(900px) {
        font-size: $fz14;
      }
    }
    p {
      font-weight: 400;
      font-size: $fz;
      line-height: 22px;
      margin-bottom: 6px;
      @include onlySmoller(900px) {
        font-size: $fz14;
      }
    }
    img[alt="googleplay"] {
      margin-left: -9px;
    }
  } 
}

.footerBottom {
  margin-top: 90px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items:center;
  @include onlySmoller(650px) {
    display: none;
  }
  li {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: $fz10;
    line-height: 160%;
    img[alt="vk"] {
      margin: 0px 18.25px; 
    }
  }
  li:nth-child(2) {
    margin-top: 15px;
  }
}

.accordion {
  display: none;
  @include onlySmoller(650px) {
    display: block;
  }
.accordion-header {
  
  .accordion-button {
    background-color: $wFooter;
    border: sold 2px $white;
    font-weight: 600;
    font-size: $fz14;
    line-height: 19px;
  }
}

.accordion-body {
  background-color: $wFooter;
  ul {
    li {
      list-style-type: none;
      font-weight: 400;
      font-size: $fz14;
      line-height: 30px;

    }
  }
}
}

.footerBottomMobile {
  display: none;
  @include onlySmoller(650px) {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 13px 0px;
    background-color: $white
  }

}

// Page Basket

.menuTopContent {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  padding-top: 65px;
  margin-left: 10px;
  @include onlySmoller(1150px) {
    padding-top: 40px;
  }
  @include onlySmoller(1000px) {
    margin-top: -10px;
  }
  div:first-child {
    font-weight: 700;
    font-size: $fz36;
    line-height: 49px;
    color: $tekst;
    margin-right: 24px;
  }

  div:nth-of-type(2) {
    font-weight: 400;
    font-size: $fz14;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 750px;
  }
}

.checkbox {
  align-self: flex-end;
  margin-bottom: 3px;
  margin-top: 10px;
  input[type="checkbox"] {
    display: none;
  }

  input + label {
    background: url('../img/checkbox.png') no-repeat -29px 0px;
    background-size: 59px;
    width: 22px;
    height: 22px;
    display: inline-block;
  }
  input:checked + label {
    background-position: 0px 0px;
  }
}
.goods {
  margin-top: 28px;
  li{
    list-style-type: none;
    display: flex;
  }
  li:first-child {
    font-weight: 500;
    font-size: $fz12;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
    div:first-child {
      flex-basis: 505px;
    }
    div:nth-child(2) {
      flex-basis: 158px;
    }
    div:nth-child(3) {
      flex-basis: 137px;
    }
  }

  li.good {
    align-items: center;
    border-top: solid 1px lightgrey;
    .checkbox {
      align-self: flex-start;
      margin-top: 20px;
    }
    div:nth-of-type(1) {
      width: 98px;
      height: 98px;
      display: flex;
      align-items:center;
      justify-content: space-around;
      margin-left: 13px;
    }
    
    .goodsInfo {
      width: 271px;
      height: 38px;
      margin-left: 31px;
      flex-basis: 325px;
      margin-bottom: 30px;
      h4 {
        font-weight: 600;
        font-size: $fz14;
        line-height: 19px;
        margin-bottom: 5px;
      }

      p {
        font-weight: 400;
        font-size: $fz14;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    div:nth-of-type(3) {
      flex-basis: 165px;
    .count {
      width: 78px;
      height: 28px;
      border-radius: 35px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: $wContent;
      
      img[ alt="minus"] {
        width: 9px;
        height: 1.5px;
      }
      img[ alt="plus"] {
        width: 11px;
        height: 12px;
      }
    }
    }
    h3 {
      font-weight: 700;
      font-size: $fz;
      line-height: 22px;
      flex-basis: 145px;
    }
    img[alt="delivery"] {
      margin-right: 20px;
    }
    .delivText {
      flex-basis: 267px;
    h5 {
      font-weight: 500;
      font-size: $fz14;
      line-height: 19px;
    }
  }
  .goodGrey {
    color: rgba(0, 0, 0, 0.5);
  }
  h3.goodGrey {
    flex-basis: 458px;
  }
  }
}

.delivColor {
  background: $wContent;
}

.deliveryForm {
  display: flex;
  flex-flow:wrap;
  margin-top: 25px;
  li {
    list-style-type: none;
  }
  
  form {
    input[type="radio"] {
      display: none;
    }
  
      input[type="radio"] + label {
        background: url('../img/radioButton.png') no-repeat -30px 0px;
        background-size: 59px;
        width: 24px;
        height: 24px;
        display: inline-block;
      }
      input[type="radio"]:checked + label {
        background-position: 0px 0px;
      }
    }
  li.lev1 {
    padding-top: 94px;
    padding-left: 50px;
    h4 {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
    }
    .delivVariant {
      width:  535px;
      height: 138px;
      display: flex;
      margin-top: 27px;
      margin-left: 26px;
      li.lev2 {
        display: flex;
        h4 {
          margin-bottom: 6px;
        }
        h5 {
          font-weight: 500;
          font-size: $fz14;
          line-height: 19px;
        }
        h6 {
          font-weight: 400;
          font-size: $fz10;
          line-height: 14px;
        }
        p {
          font-weight: 400;
          font-size: $fz12;
          line-height: 16px;
          color: rgba(0, 0, 0, 0.5);
        }
        label {
          margin-right: 5px;
        }
        img {
          width: 24px;
          height: 24px;
          margin-right: 5px;
        }
        img[alt="pen"] {
          width: 12.67px;
          height: 12.67px;
        }
      }
      li.lev2:nth-of-type(2) form {
        margin-left: -15px;
      }
      .adress {
       width: 220px;
        position: relative;
        img[alt="pen"] {
          position: absolute;
          left: 160px;
          top: 5px;

        }
      }
    }
  }

  li.lev1:nth-child(3) {
    padding-top: 0px;
    padding-left: 50px;
    margin-top: -180px;
    .payVariant {
      width:  600px;
      height: 138px;
      display: flex;
      margin-top: 27px;
      margin-left: 26px;
      position: relative;
      li {
        display: flex;
        img {
          width: 25px;
          height: 25px;
          margin-right: 6px;
        }
        img[alt="pen"] {
          width: 12.67px;
          height: 12.67px;
          position: absolute;
          left: 375px;
          top: 5px;
        }
        label {
          margin-right: 5px;
        }
        h4 {
          margin-right: 58px;
        }
        h5 {
          font-weight: 500;
          font-size: $fz14;
          line-height: 19px;
          color: #000000;
        }
      }
    }
  }
  .Actio {
    flex-basis: 450px;
    justify-self: flex-end;
    margin-left: 100px;
    padding-top: 94px;
    position: relative;
    h4 {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
    }
    h4:nth-of-type(2) {
     margin-bottom: 5px;
    }
    input:nth-of-type(1) {
      width: 314px;
      height: 50px;
      border-radius: 8px;
      margin-bottom: 16px;
    }
    input:nth-of-type(2) {
      width: 261px;
      height: 50px;
      border-radius: 8px;
    }
    img[alt="arrow"] {
      position: absolute;
      left: 260px;
      bottom: 330px;
    }

    img[alt="rightGreen"] {
      position: absolute;
      right: 189px;
    }
    h1 {
      font-weight: 800;
      font-size: $fz36;
      position: absolute;
      left: 225px;
      bottom: 240px;
      color: $white;
    }
  }
  ul {
  display: flex;
   margin-top: 56px;
   margin-bottom: 30px;
    li {
      div {
        font-weight: 400;
        font-size: $fz14;
        line-height: 19px;
        margin-bottom: 2px;
      }
      h2 {
        font-weight: 600;
        font-size: $fz18;
        line-height: 25px;
        margin-top: 10px;
      }
    }
    li:last-child {
      margin-left: 53px;
      span {
        font-weight: 700;
        font-size: $fz24;
        line-height: 33px;
      }
    }
  }
  button.btn {
    @include btn(180px, $green, none, $white);
  }
  
}

// Page goods Card

.menuTopContent3 {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  align-items:center;
  @include onlySmoller(1150px) {
    padding-top: 40px;
  }
  @include onlySmoller(1000px) {
    margin-top: -10px;
  }
  @include onlySmoller(770px) {
    padding-top: 30px;
  }

  div {
    font-weight: 400;
    font-size: $fz14;
    line-height: 19px;
    color: $tGrey;
    margin-right: 5px;
    @include onlySmoller(900px) {
      font-size: $fz12;
    }
  }
  div:first-child {
    display: flex;
  div:nth-of-type(1) {
    margin-left: 10px;
   
  }
  
  div:nth-of-type(3) {
    color: $tekst;
  }
}
  div:last-child {
    
    a[href="index1P.html"] {
      justify-items: flex-end;
      position: relative;
      span {
        position: relative;
        top: -7px;
        font-weight: 400;
        font-size: $fz;
        line-height: 22px;
        color: $tekst;
      }
      img {
        margin-top: 4px;
      } 
  }
}
}

.BigCard {
  margin-left: 80px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 63px;
  @include onlySmoller(1100px) {
    margin-left: 20px;
  }
  @include onlySmoller(1000px) {
    margin-left: 10px;
  }
  .picture {
    width: 515px;
    height: 488px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    position: relative;
    margin-right: 60px;
    @include onlySmoller(1000px) {
      margin-right: 10px;
    }
  
    img[alt="rotate"] {
      position: absolute;
      bottom: 20px;
      left: 210px;
    }
    img[alt="bigTree"] {
      @include onlySmoller(900px) {
        width: 350px;
        height: 400px;
      }
    }
    img[alt="right"] {
      @include onlySmoller(900px) {
       margin-left: -20px;
      }
    }
   
  }
  .bigInfo {
   width: 460px;
   height: 490px;
   div:first-child {
    display: flex;
    justify-content: space-between;
    align-items:center;
    img {
      width: 25px;
      height: 25px;
     margin-top: 7px;
    }
    h1 {
      margin-right: 10px;
    }
   }

    h1 {
      font-weight: 600;
      font-size: $fz28;
      line-height: 160%;
      @include onlySmoller(900px) {
        font-size: $fz24;
      }
    }
    h1:last-child {
      font-weight: 700;
    }
    p {
      font-weight: 400;
      font-size: $fz14;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.5);
    }
    h3 {
      font-weight: 400;
      font-size: $fz14;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.2);
      margin-top: -10px;
      margin-bottom: 20px;
    }
    h5 {
      font-weight: 600;
      font-size: $fz14;
      line-height: 160%;
    }
    h5:nth-of-type(3) {
      margin-bottom: 24px;
    }
    .threeChar {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      div {
        font-weight: 600;
        font-size: $fz14;
        line-height: 170%;
        color: rgba(0, 0, 0, 0.4);
      }
      div:first-child {
        color: $tekst;
        border-bottom: solid 3px;
      }
    }
    h6 {
      margin-top: 13px;
      margin-bottom: 35px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.5);
    }
    .stars {
      position: relative;
      margin-bottom: 27px;
      .rating {
        position: absolute;
        top: -2px;
        left: 110px;
      }
      .review {
        position: absolute;
        top: -2px;
        left: 140px;
      }
    }
    .Delivery {
      display: flex;
      justify-content:space-between;
      margin-bottom: 49px;
      h5:nth-of-type(1) {
        margin-left: -30px;
        @include onlySmoller(1000px) {
          margin-left: -5px;
        }
        @include onlySmoller(900px) {
          margin-left: 10px;
        }
      }
      img {
        width: 25px;
        height: 25px;
        align-self: center;
      }
    }
    .pricebtn  {
      display: flex;
      justify-content: space-between;
    button.btn {
      @include btn(240px, $green, none, $white);
      @include onlySmoller(900px) {
        @include btn(200px, $green, none, $white);
      }
      position: relative;
      img {
        position: absolute;
        left: 20px;
        @include onlySmoller(900px) {
          display: none;
          }
      }
      span{
        margin-left: 30px;
        @include onlySmoller(900px) {
          margin-left: 0px;
          }
      }
    }
  }
  }
}

.otherGoods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
  }
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  @include onlySmoller(1100px) {
    margin-top: 120px;
  }
  @include onlySmoller(900px) {
    margin-top: 160px;
  }
}
.swiper-container.image-slider {
  width: 1200px;
  overflow: hidden;
  position: relative;
  min-width: 0;
  @include onlySmoller(1250px) {
    width: 1100px;
  }
  @include onlySmoller(1100px) {
    width: 1000px;
  }
  @include onlySmoller(1000px) {
    width: 900px;
   
  }
  @include onlySmoller(900px) {
    width: 768px;
  }
.cards3p.swiper-wrapper.image-slider_wrapper {
  display: flex;
  min-width: 0;
  width: 1200px;
  justify-content: space-between;
  position: relative;
  @include onlySmoller(1250px) {
    width: 1100px;
  }
  @include onlySmoller(1100px) {
    width: 1000px;
  }
  @include onlySmoller(1000px) {
    width: 900px;
  }
  @include onlySmoller(900px) {
    width: 768px;
  }
  .cardColor {
    background-color: $white;

  }

      div.image-slider_slide.swiper-slide {
      width: 272px;
      height: 387px;
      border-radius: 8px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      margin-bottom: 16px;
   
      

     .cardPicture {
        width: 232px;
        height: 253px;
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin: 0 auto;
        img {
        @include onlySmoller(1000px) {
          width: 200px;
          height: 200px;
        }
        @include onlySmoller(900px) {
          width: 160px;
          height: 160px;
        }
      }
      }
      .stars{
        margin-top: 5px;
        margin-left: 20px;
        display: flex;
        align-items:center;
        .review {
          margin-left: 7px;
          font-weight: 400;
          font-size: $fz10;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.5);
        }
        img {
          width: 8.69px;
          height: 8.29px;
        }
      }
      .size {
        font-weight: 400;
        font-size: $fz12;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 20px;
      }
      .price {
        font-weight: 700;
        font-size: $fz;
        line-height: 22px;
        margin-left: 20px;
        margin-bottom: 27px;
      }
      h3 {
        font-weight: 600;
        font-size: $fz14;
        line-height: 160%;
        margin-left: 20px;
      }

      button {
        width: 36px;
        height: 36px;
        border: none;
        background-color: $white;
        position: absolute;
        top: 330px;
        left: 210px;
        @include onlySmoller(1100px) {
          left: 205px;
        }
        @include onlySmoller(1000px) {
          left: 183px;
        }
        @include onlySmoller(900px) {
          left: 150px;
        }
      }
      .like {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 18px;
        left: 227px;
        background: url('../img/FavoriteIconGrey.png') no-repeat;
        &.active {
        background: url('../img/FavoriteIconGreyRed.png') no-repeat;
        }
      }
    }

}
}

.overviews {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 67px;
  margin-bottom: 30px;
  h2 {
    font-weight: 600;
    font-size: $fz24;
    line-height: 160%;
  }
  div {
    display: flex;
    font-weight: 400;
    font-size: $fz14;
    line-height: 19px;
    color: $tGrey;
    margin-right: 17px;
    div:first-child {
      font-weight: 500;
      color: $tekst;
    }
  }
}

.viewsContent {
  display: flex;
  .textViews {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-bottom: 70px;
    .theView {
      p {
        font-weight: 400;
        font-size: $fz;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 6px;
        span {
          font-weight: 500;
          color: $tekst
        }
      }
      .stars {
        margin-bottom: 15.75px;
      }
      h6 {
        font-weight: 400;
        font-size: $fz;
        line-height: 160%;
        margin-bottom: 28px;
      }
    }
    button {
      @include btn2(150px, $wContent, solid 1px, $tekst);
      justify-self: center;
      margin: 0 auto;
    }
  }
  .viewResults {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 120px;
    background-color: $wContent;
    width: 365px;
    height: 380px;
    border-radius: 20px;
    @include onlySmoller(1100px) {
      margin-left: 50px;
    }
    h1 {
      font-weight: 500;
      font-size: $fz48;
      line-height: 65px;
    }
    .stars {
      margin-bottom: 6.7px;
    }
    p {
      font-weight: 400;
      font-size: $fz14;
      line-height: 19px;
      margin-bottom: 25px;
    }
    li {
      list-style-type: none;
      display: flex;
      align-content: flex-start;
      margin-bottom: 16px;
      div {
        width: 160px;
        margin-left: 12px;
        margin-right: 92px;
      
        img {
          height: 4px;
          margin-bottom: 2px;
        }
      }
      span {
        font-weight: 500;
        font-size: $fz14;
        line-height: 19px;
      }
      span:nth-of-type(2) {
        justify-self:flex-start;
      }
    }
    .leaveView {
      display: flex;
      margin-top: 30px;
      h6 {
        font-weight: 500;
        font-size: $fz14;
        line-height: 19px;
        margin-left: 8px;
      }
    }
  }
}