@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body
{
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  width: $xl;
  margin: 0 auto;
}

.menuTopHeader {
  display: flex;
  align-items: center;
  height: 81px;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: $fz12;
      line-height: 16px;
      padding-right: 26px;
    }
    div:nth-child(5) {
      padding-right: 106px;
    }
    div:nth-of-type(6) {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
      padding-right: 130px;
    }
    img {
      width: 25px;
      height: 25px; 
    }
    img:nth-of-type(2) {
      margin-left: 10px;
      margin-right: 24px;
    }
    img:nth-of-type(3) {
      margin-right: 45px;
    }
    img:nth-of-type(4) {
      margin-right: 8px;
    }
      div:nth-of-type(7) {
        padding-right: 0px;
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        
        img[alt="Eclipse1"] {
          width: 8px;
          height: 8px;
          position: relative;
          top: -17px;
          right: 19px;
        }

        div.menuLevel2 {
          width: 410px;
          height: 150px;
          background: url('../img/alarmBack.png') no-repeat;
          display: none;
          cursor: pointer;

          img[alt="Eclipse2"] {
            width: 8px;
            height: 8px;
            position: relative;
            top: 49px;
            left: 55px;

          }

          div {
            font-weight: 400;
            font-size: $fz14;
            line-height: 22px;
            width: 296px;
            height: 66px;
            margin-left: 70px;
            margin-top: 30px;
          }
        }
        
      }
      div:nth-of-type(7):hover div.menuLevel2 {
        display: block; 
        position: absolute; 
        right: -43%; 
        top: 60%; 
        z-index: 1;
      }
     

      div:last-child {
        font-weight: 600;
        font-size: $fz;
        line-height: 22px;
      }
}

.searchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  div:nth-child(2) {
   margin-left: -40px;
  } 
  input {
    width: 610px;
    height: 48px;
    border:hidden;
    border-radius: 10px;
    margin-left: -100px;
   }
  .GreenButton {
    width: 156px;
    height: 52px;
    background-color: $green;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    cursor: pointer;

    ul.menuLevel2 {
      width: 450px;
      height: 380px;
      background: url('../img/basketBack.png') no-repeat;
      display: none;
      cursor: pointer;
      
      li {
        list-style-type: none;
        width: 400px;
        margin-left: 45px;
        margin-top: 50px;
        position: relative;
        div:nth-of-type(1) {
          font-weight: 600;
          font-size: $fz12;
          line-height: 16px;
          width: 168px;
          position: absolute;
          left: 33%;
          top: 0%;
        }
        div:nth-of-type(2) {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 500;
          font-size: $fz12;
          line-height: 16px;
          position: absolute;
          left: 23%;
          top: 70%;
        }
        div:nth-of-type(3) {
          font-weight: 700;
          font-size: $fz;
          line-height: 22px;
          position: absolute;
          left: 72%;
          top: 80%;
        }
        [alt="trash"] {
          width: 25px;
          height: 25px; 
          position: absolute;
          left: 80%;
          top: 0%;
        }
      }
      li:last-child {
        margin-top: 40px;
        div {
          font-weight: 600;
          font-size: $fz;
          line-height: 22px;
        }
        div:first-child {
          position: absolute;
          left: 1%;
         
        }
        div:last-child {
          color: $red;
          position: absolute;
          left: 82%;
        }
      }
    }

    a {
      span {
        margin: 0px 2px;
        color: $white;
      }
    }
  }
  div.GreenButton:hover ul.menuLevel2 {
    display: block; 
    position: absolute; 
    right: -18%; 
    top: 100%; 
    z-index: 1;
  }

 }

.menuMiddleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  div {
    font-style: normal;
    font-weight: 500;
    font-size: $fz;
    line-height: 22px;
    padding-right: 24px;
  }
  div:last-child {
    color: $red;
  } 
}
    
.headerBanner {
  background: url('../img/Banner.png') no-repeat;
  background-size: 100%;
  margin: 0px;
  
  .conteiner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 381px;
  }
 
  .redBanner{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 511px;
    height: 226px;
    background: $red 80% no-repeat;  
    transition-duration: 1s;

    div {
      color: $white;
    }
    div:first-child {
      font-size: $fz22;
      font-weight: 600;
      line-height: 30px;
      transition-duration: 1s;
    }
    div:nth-child(2) {
      font-size: $fz44;
      font-weight: 700;
      line-height: 60px;
      margin-top: 5px;
      margin-bottom: 10px;
      transition-duration: 1s;
    }
    div:nth-child(3) {
      font-size: $fz22;
      font-weight: 500;
      line-height: 30px;
      transition-duration: 1s;
    }
  }
  .redBanner:hover {
    background-color:$green;
    width: 600px;
    height: 300px;
    div:first-child {
      font-size: $fz28;
      transition-duration: 1s;
    }
    div:nth-child(2) {
      font-size: $fz50;
      transition-duration: 1s;
    }
    div:nth-child(3) {
      font-size: $fz28;
      transition-duration: 1s;
    }
  }
}


.menuBottomHeader {
  display: flex;
  align-items: center;
  height: 84px;
  div {
    font-weight: 500;
    font-size: $fz;
    line-height: 22px;
    padding-right: 37px;
    margin-right: 25px;
  }

  div:first-child {
    margin-left: 80px;
    padding-right: 0px;
    position: relative;
    cursor: pointer;
    ul.menuLevel2 {
      width: 328px;
      height: 450px;
      background: url('../img/filterBack.png') no-repeat;
      display: none;
      cursor: pointer;
   
      li {
        list-style-type: none;

        div {
          font-weight: 500;
          font-size: $fz;
          line-height: 22px;
          margin-left: 60px;
          margin-bottom: 15px;
        }
        img {
          position: absolute;
          left: 15%;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: rgba(0, 0, 0, 0.5);
          span {
            font-weight: 500;
            color: $tekst;
          }
        }
   
      }
      li:first-child {
        margin-top: 70px;
        p:nth-of-type(1) {
          position: absolute;
          left: 17%;
          top: 33%;
        }
        p:nth-of-type(2) {
          position: absolute;
          left: 60%;
          top: 33%;
        }
        
      }
      li:nth-child(2) {
        margin-top: 80px;
        button.btn1 {
          @include btn1(85px, $green, none, $white);
          position: absolute;
          left: 17%;
          top: 50%;
        }
        button.btn2 {
          @include btn1(85px, $white, none, $tekst);
          position: absolute;
          left: 45%;
          top: 50%;
        }
      }
      li:nth-child(3) {
        margin-top: 70px;
        p:nth-of-type(1) {
          position: absolute;
          left: 17%;
          top: 75%;
        }
        p:nth-of-type(2) {
          position: absolute;
          left: 50%;
          top: 75%;
        }
      }
    }  
  }

  div:first-child:hover ul.menuLevel2 {
    display: block; 
    position: absolute; 
    top: 50%;
    left: -145px;
    z-index: 1;
  }
  div:nth-child(2) {
    margin-right: 147px;
  }
  div:last-child {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 4px;
  }
  
}

.menuTopContent1 {
  display: flex;
  margin-top: 65px;
  div {
    font-weight: 400;
    font-size: $fz14;
    line-height: 19px;
    color: $tGrey;
    margin-right: 5px;
  }
  
  div:nth-of-type(3) {
    color: $tekst;
  }
  div:nth-of-type(4) {
    margin-left: 528px;
    color: $tekst;
    margin-right: 15px;
  }
  div:nth-of-type(5) {
    margin-right: 15px;
  }
  div:nth-of-type(6) {
    margin-right: 15px;
  }
  div:nth-of-type(7) {
    margin-right: 15px;
  }
  img {
    margin-right: 5px;
  }
}
.menuTopContent2 {
  display: flex;
  justify-content:space-between;
  align-items:baseline;
  height: 77px;
  div:first-child {
    font-weight: 700;
    font-size: $fz36;
    line-height: 49px;
    
  }
  div:nth-child(2) {
    font-weight: 400;
    font-size: $fz14;
    line-height: 49px;
    color:$tGrey;
    margin-right: 770px;
    
  }
 
 
  
}

.cards {
    ul {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
    }
    li {
      width: $xl;
      height: 273px;
      display: flex;
      justify-content: space-between;
      transition: transform 2s;
  

      img[class="imgURL"] {
        width: 210px;
        height: 210px;
        margin: 20px 56px 20px 20px;
      }
      div.cardInfo {
        width: 600px;
        margin-left: -120px;
        h2 {
          font-weight: 600;
          font-size: $fz28;
          line-height: 160%;
        }
        p.artcl {
          color: rgba(0, 0, 0, 0.2);
          font-weight: 400;
          font-size: $fz14;
          line-height: 160%;
        }

        p {
          font-weight: 400;
          font-size:  $fz14;
          line-height: 160%;
          span {
            font-weight: 600;
          }
        
        }
        div.Delivery {
          display: flex;
          align-items:center;
          margin-top: 25px;
          img {
            margin-right: 20px;
          }
        }
        .stars{
          display: flex;
          align-items:center;
          margin: 20px 0px;
          p {
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400;
            font-size: $fz14;
            line-height: 160%;
            margin-right: 10px;
          }
          img {
            width: 16px;
            height: 16px;
          }
          img[alt="stYellowLight"]{
            margin-right: 20px;
          }
        }

      }
      div:last-child {
        width: 250px;
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 15px;
        position: relative;
        div {
          position: absolute;
          right: 40px;
        }
        img {
          position: absolute;
          right: 7px;
        }
        h2 {
          margin-top: 140px;
          font-weight: 700;
          font-size: $fz28;
          line-height: 160%;
        }
        button {
          margin-top: 5px;
        }
      }
    }
    li:hover {
      transform: scale(1.1);
     }
    button.btn {
      @include btn(240px, $green, none, $white);
      position: relative;
      img {
        position: absolute;
        left: 20px;
      }
      span{
        margin-left: 30px;
      }
    }
    .like {
      width: 25px;
      height: 25px;
      background: url('../img/FavoriteIconGrey.png') no-repeat;
      &.active {
      background: url('../img/FavoriteIconGreyRed.png') no-repeat;
      }
    }
}

.advertBanner {
  display: flex;
  flex-direction: column;
  width: $xl;
  height: 209px;
  background: url('../img/AdvertBanner.png') no-repeat;
  background-size: 100%;
  h1 {
    margin: 41px 0px 0px 136px;
    font-weight: 600;
    font-size: $fz36;
    line-height: 49px;
  }

  button.btn {
    margin: 20px 0px 0px 136px;
    @include btn(180px, $white, solid 1px, $tekst);
    font-weight: 600;
    font-size: $fz14;
    line-height: 19px;
  }
} 

.contentBottom {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  button {
    @include btn(150px, $white, solid 1px, $tekst);
    justify-self: center;
  }

  img{
    margin-left: 480px;
    margin-right: 20px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
  }
}
.pages {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: $fz12;
  line-height: 16px;
  text-align: center;
  margin-top: 30px;
  text-align: center;
}

.footerColor {
  background-color: $wFooter;
}
.footerTop {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  
  li {
    list-style-type: none;
    h4 {
      font-weight: 600;
      font-size: $fz;
      line-height: 22px;
      margin-bottom: 12px;
    }
    p {
      font-weight: 400;
      font-size: $fz;
      line-height: 22px;
      margin-bottom: 6px;
    }
    img[alt="googleplay"] {
      margin-left: -9px;
    }
  } 
}

.footerBottom {
  margin-top: 90px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items:center;
  li {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: $fz10;
    line-height: 160%;
    img[alt="vk"] {
      margin: 0px 18.25px; 
    }
  }
  li:nth-child(2) {
    margin-top: 15px;
  }
}

