@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
  height: 10000px; }

a {
  color: inherit;
  text-decoration: none; }

.conteiner {
  width: 1200px;
  margin: 0 auto; }

.menuTopHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px; }
  .menuTopHeader div {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-right: 26px; }
  .menuTopHeader div:nth-child(5) {
    padding-right: 106px; }
  .menuTopHeader div:nth-of-type(6) {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-right: 130px; }
  .menuTopHeader img {
    width: 25px;
    height: 25px; }
  .menuTopHeader img:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 24px; }
  .menuTopHeader img:nth-of-type(3) {
    margin-right: 45px; }
  .menuTopHeader img:nth-of-type(4) {
    margin-right: 8px; }
  .menuTopHeader div:nth-of-type(7) {
    padding-right: 0px;
    margin-left: 10px; }
    .menuTopHeader div:nth-of-type(7) img:last-child {
      width: 8px;
      height: 8px;
      position: relative;
      top: -17px;
      right: 19px; }
  .menuTopHeader div:last-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px; }

.searchHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82px; }
  .searchHeader div:nth-child(2) {
    margin-left: -40px; }
  .searchHeader input {
    width: 610px;
    height: 48px;
    border: hidden;
    border-radius: 10px;
    margin-left: -100px; }
  .searchHeader .GreenButton {
    width: 156px;
    height: 52px;
    background-color: #81B43F;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .searchHeader .GreenButton a span {
      margin: 0px 2px;
      color: #FFFFFF; }

.menuMiddleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 83px; }
  .menuMiddleHeader div {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-right: 24px; }
  .menuMiddleHeader div:last-child {
    color: #FF715B; }

.headerBanner {
  background: url("../img/Banner.png") no-repeat;
  background-size: 100%; }
  .headerBanner .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 381px; }
  .headerBanner .redBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 511px;
    height: 226px;
    background: #FF715B 80% no-repeat; }
    .headerBanner .redBanner div {
      color: #FFFFFF; }
    .headerBanner .redBanner div:first-child {
      font-size: 22px;
      font-weight: 600;
      line-height: 30px; }
    .headerBanner .redBanner div:nth-child(2) {
      font-size: 44px;
      font-weight: 700;
      line-height: 60px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .headerBanner .redBanner div:last-child {
      font-size: 22px;
      font-weight: 500;
      line-height: 30px; }

.menuBottomHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px; }
  .menuBottomHeader div {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-right: 24px;
    margin-right: 25px; }
  .menuBottomHeader div:first-child {
    margin-left: 60px; }
  .menuBottomHeader div:nth-child(2) {
    margin-right: 129px; }

/*# sourceMappingURL=style.css.map */