//colors
$green: #81B43F;
$red: #FF715B;
$yellow: #E6AE3F;
$tekst: #000000;
$tGrey: rgba(0, 0, 0, 0.5);
$white: #FFFFFF;
$wFooter:#F0F0F0;
$wContent: #F9F9F9;

//font-size
$fz: 16px;
$fz9: $fz - 7;
$fz10: $fz - 6;
$fz11: $fz - 5;
$fz12: $fz - 4;
$fz13: $fz - 3;
$fz14: $fz - 2;
$fz18: $fz + 2;
$fz20: $fz + 4;
$fz21: $fz + 5;
$fz22: $fz + 6;
$fz24: $fz + 8;
$fz28: $fz + 12;
$fz36: $fz + 20;
$fz44: $fz + 28;
$fz46: $fz + 30;
$fz48: $fz + 32;
$fz50: $fz + 34;

//conteiners
$xl: 1200px;
